body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

#container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#mycanvas {
  z-index: 2;
  transform-origin: top;
  transform: scale(3);
  image-rendering: pixelated;
}
